<?xml version="1.0" encoding="UTF-8"?>
<Context path="/SorteoWeb">
    <!--
        https://tomcat.apache.org/tomcat-8.0-doc/jndi-datasource-examples-howto.html#PostgreSQL
        VISIBLE PARA UNA SOLA APLICACIÓN
   
    
  <Resource auth="Container" driverClassName="org.postgresql.Driver" maxActive="100" maxIdle="30" 
            maxWait="10000" name="jdbc/sorteo" password="sorteo" type="javax.sql.DataSource" 
            url="jdbc:postgresql://localhost:5432/db_sorteo" username="sorteo"/>
 -->
        <Resource name="jdbc/sorteo" auth="Container"
                  type="javax.sql.DataSource"
                  maxActive="100" maxIdle="30" maxWait="10000"
                  username="alxpggmyfxqfwz" 
                  password="031de6bc4a8240cb3438af3ef194568e96f525dd21170f775f96adc80ba1eb7f" 
                  driverClassName="org.postgresql.Driver"
                  url="jdbc:postgresql://ec2-54-87-112-29.compute-1.amazonaws.com:5432/dejvvag8g0vnhv"/>
      <!--

    <ResourceLink name="jdbc/cursosDS"
                  global="jdbc/cursosDS"
                  type="javax.sql.DataSource"/> 
    -->

</Context>
